body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#mainhome {
    position: relative;
     flex-direction: column;
    align-items: center;
    padding: 100px 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #212529;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

#logonav img {
    height: 80px;
    width: auto;
}

#logoptions {
    display: flex;
    justify-content: center;
}

#logoptions ul {
    list-style-type: none;
    margin: 0 30px 0 20px;
    padding: 0;
    display: flex;
}

#logoptions ul li {
    margin-right: 20px;
}

#logoptions ul li:last-child {
    margin-right: 0;
}

#logoptions ul li a,
#navbar ul li a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;
}

#logoptions ul li.redc a,
#logoptions ul li.bluec a,
#navbar ul li.redc a,
#navbar ul li.bluec a {
    color: #fff;
}

#logoptions ul li a:hover,
#navbar ul li a:hover {
    color: #fff;
}

#hometext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(51, 51, 51, 0.95);
    width: 450px;
    height: 125px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 13px;
}

#footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#footer_text{
     margin-left: 230px;
}

#hometext img {
    width: 300px;
    margin-top: 7px;
}

#hometext p {
    margin-top: 15px;
}

.white-text {
    color: white;
}

.blue-text {
    color: mediumturquoise;
}

.red-text {
    color: red;
}

#telefoonnnumer,
#adress,
#tijd {
    flex-grow: 1;
    text-align: center;
}

.register_href{
    color: white;
}

.login-signup {
    text-align: center;
    margin-top: 100px;
    padding: 25vh 0;
}

.login-signup button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.login-signup button:hover {
    background-color: #000;
    color: white;
}


.container {
    display: flex;
    margin-right: 400px;
    align-items: center;
}

.form-title {
    color: #ffffff;
}

.main-content{
    display: flex;
 
    justify-content: center;
    align-items: center;
    gap: 55px;   
    flex-direction: row-reverse;
}
.form-container{
    border-radius: 9px;
    padding: 12px;
   
    
}
.offerte_button{
    
    border-style: solid;
    background-color: firebrick;
}
.container-offerte{
    padding: 15px;
}
.registration-form{
    padding-top: 15px;
    padding-bottom: 15px;
}
.register_href {
    color: #000;
}
.reparatie-h2{
    color: white;
}

.offerte_img{
    display: inline-block;
    text-align: center;
    border-radius: 2px;
    
}

.form-container {
    display: flex;
}

.form-container label {
    margin-bottom: 5px;
    display: block;
    color: #fff;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"],
.form-container button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-container input[type="submit"] {
    margin-top: 15px;;
    background-color: #ffffff;
    color: #212529;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    height: 46px;
}

.form-container input[type="submit"]:hover {
    background-color: #d7dce2;
}

.form-title,
.login-header {
    color: #000;
    text-align: center;
    margin-bottom: 20px;
}

main {
    padding-top: 120px;
    padding-bottom: 50px;
}

.services {
    text-align: center;
}

.services h2 {
    color: black;
    font-size: 36px;
}

.services p {
    color: black;
    font-size: 18px;
}

.services-containers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    padding-top: 15px;
    padding-left: 190px;
    padding-right: 190px;
}

.service-box {
    background-color: #212529;
    border: 2px solid #212529;
    padding: 20px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.service-box h3 {
    color: #fff;
    margin-top: 0;
}

.service-box p {
    color: #ccc;
}

.faq {
    padding: 50px;
    display: flex;
    justify-content: center;
}
.content {
    background-color: rgb(56, 57, 60);
    border: solid #19cfcf;
    border-width: 4px;
    border-radius: 12px;
    padding: 20px;
    width: 80%; /* Adjust this value to your desired width */
}
.content_p {
    color: #000;
    font-size: 20px;
}

.services_body {
    background-color: white;
}
footer {
    color: #fff;
}

.aboutus_body {
    font-family: Arial, sans-serif;
    padding-top: 150px;
    color: #fff;
}

.container_aboutus {
    padding-left: 50%;
    display: flex;
    justify-content: center;
    background-color: #212529;
    border: 2px solid #ff0000;
    border-radius: 10px;
    padding: 20px;
    margin-left: 350px;
    max-width: 800px;
    text-align: left;
    margin-bottom: 50px;
}

.h1_aboutus {
    color: #ff0000;
    text-align: center;
}

.p_aboutus {
    margin-bottom: 20px;
}
.container_services{
    margin-left: 200px;
}

.accordion {
    padding-top: 25px;
    max-width: 1110px;
    color: #212529;
    
}

.accordion-collapse{
    min-width: 1110px;
}

.accordion-item{
    min-width: 1110px;
}

.accordion-header {
    color: white;
}

.accordion-item {
    color: white;
}

div.container_offerte {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; 
}

h1.Offerte_success {
    color: #212529;
    margin-top: 250px;
    margin-bottom: 200px;
}

div.container_signup {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 85vh; 
}

.signup_success {
    color: #212529;
    margin: 10px 0; 
    text-decoration: none;
}

a.button{
    background-color: #212529;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

h1.admin_dashboard_text {
    color: #212529;
    margin-top: 200px;
    display: flex;
    justify-content: center;
}

div.button_admin_container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    flex-wrap: wrap; 
    padding: 20px;
    margin-top: 70px;
    margin-bottom: 200px;
}

button.producten_insert {
    background-color: #212529;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button.offerte_search{
    background-color: #212529;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button.producten_update {
    background-color: #212529;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button.producten_list {
    background-color: #212529;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button.button_uitloggen {
    background-color: white;
    color: black;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
body.admin_body {
    margin: 0;
    padding-top: 100px;
    font-family: "Lato", sans-serif;
}

.sidebar {
    color: white;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #212529;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #212529;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content1 {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

body.admin_list {
    margin: 0;
    padding-top: 100px;
    font-family: "Lato", sans-serif;
}

.sidebar {
    color: white;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #212529;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #212529;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content1 {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

body.admin_offerte {
    margin: 0;
    padding-top: 100px;
    font-family: "Lato", sans-serif;
}

.sidebar {
    color: white;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #212529;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #212529;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content1 {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}


body.admin_change {
    margin: 0;
    padding-top: 100px;
    font-family: "Lato", sans-serif;
}

.sidebar {
    color: white;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #212529;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #212529;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content1 {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

div.dtoegevoegd{
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;

}

h1.Product_webshop_tekst{
    color: #212529;
    margin-top: 100px;
    margin-left:10px ;
}

.Product_list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

div.Product_webshop {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-right: 60px;
    max-width: 300px;
    margin-top: 30px;
}

img.Image_product {
   max-width:400px;
    max-height: 400px;
}

.Product_info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h5.product_name {
    margin: 10px 0 5px; 
    font-size: 16px;
    font-weight: bold;
    color: #03cee9;
    text-align: center;
    margin-bottom:10px ; 
}

p.product_price {
    margin: 0;
    font-size: 14px;
    color: #555; 
    text-align: center;
    margin-bottom: 20px;
}
input.winkelmand{
    background-color: rgb(196, 195, 195);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px 10px;
    width: 200px;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    border: none; 
    transition: background-color 0.3s; 
}

input.winkelmand:hover {
    background-color:#19cfcf; 
}

textarea.details{
    width: 100%;
    border: 1px solid #ccc;
}

img.shopping_cart{
    margin-right:10px ;
}

.how-section1{
    margin-top:-15%;
    padding: 10%;
}
.how-section1 h4{
    color: #ffa500;
    font-weight: bold;
    font-size: 30px;
}
.how-section1 .subheading{
    color: #3931af;
    font-size: 20px;
}
.how-section1 .row
{
    margin-top: 10%;
}
.how-img 
{
    text-align: start;
}

.sectioncolor {
background-color: #1A1E21;


}

.card{
    
    border:none;
}

.user-content p{
    margin-top:5px;
    font-size:12px;
}
