body {
    margin: 0;
    padding: 0;

    font-family: Arial, sans-serif;
}

#mainhome {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #212529;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

#logonav img {
    height: 80px;
    width: auto;
}

#logoptions {
    display: flex;
    justify-content: center;
}

#logoptions ul {
    list-style-type: none;
    margin: 0 30px 0 20px;
    padding: 0;
    display: flex;
}

#logoptions ul li {
    margin-right: 20px;
}

#logoptions ul li:last-child {
    margin-right: 0;
}

#logoptions ul li a,
#navbar ul li a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;
}

#logoptions ul li.redc a,
#logoptions ul li.bluec a,
#navbar ul li.redc a,
#navbar ul li.bluec a {
    color: #fff;
}

#logoptions ul li a:hover,
#navbar ul li a:hover {
    color: #fff;
}

#hometext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(51, 51, 51, 0.95);
    width: 450px;
    height: 125px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 13px;
}

#hometext img {
    width: 300px;
    margin-top: 7px;
}

#hometext p {
    margin-top: 15px;
}

.white-text {
    color: white;
}

.blue-text {
    color: mediumturquoise;
}

.red-text {
    color: red;
}

#telefoonnnumer,
#adress,
#tijd {
    flex-grow: 1;
    text-align: center;
}

.login-signup {
    text-align: center;
    margin-top: 100px;
    padding: 25vh 0;
}

.login-signup button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.login-signup button:hover {
    background-color: #000;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-title {
    color: #ffffff;
}

.form-container {
    width: 300px;
    margin: auto;
    margin-top: 20vh;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #212529;
}

.form-container label {
    margin-bottom: 5px;
    display: block;
    color: #fff;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"],
.form-container button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-container input[type="submit"] {
    margin-top: 15px;;
    background-color: #ffffff;
    color: #212529;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    height: 46px;
}

.form-container input[type="submit"]:hover {
    background-color: #d7dce2;
}

.form-title,
.login-header {
    text-align: center;
    margin-bottom: 20px;
}

main {
    padding-top: 120px;
    padding-bottom: 50px;
}

.services {
    text-align: center;
}

.services h2 {
    color: black;
    font-size: 36px;
}

.services p {
    color: black;
    font-size: 18px;
}

.services-containers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    padding-top: 15px;
    padding-left: 190px;
    padding-right: 190px;
}

.service-box {
    background-color: #212529;
    border: 2px solid #212529;
    padding: 20px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.service-box h3 {
    color: #fff;
    margin-top: 0;
}

.service-box p {
    color: #ccc;
}

.faq {
    padding: 50px;
    display: flex;
    justify-content: center;
}
.content {
    background-color: rgb(56, 57, 60);
    border: solid #19cfcf;
    border-width: 4px;
    border-radius: 12px;
    padding: 20px;
    width: 80%; /* Adjust this value to your desired width */
}
.content_p {
    color: #000;
    font-size: 20px;
}

.services_body {
    background-color: white;
}
footer {
    color: #fff;
}

.aboutus_body {
    font-family: Arial, sans-serif;
    padding-top: 150px;
    color: #fff;
}

.container_aboutus {
    padding-left: 50%;
    display: flex;
    justify-content: center;
    background-color: #212529;
    border: 2px solid #ff0000;
    border-radius: 10px;
    padding: 20px;
    margin-left: 350px;
    max-width: 800px;
    text-align: left;
    margin-bottom: 50px;
}

.h1_aboutus {
    color: #ff0000;
    text-align: center;
}

.p_aboutus {
    margin-bottom: 20px;
}

.accordion {
    padding-top: 25px;
    max-width: 1110px;
    color: #212529;
}

.accordion-collapse{
    min-width: 1110px;
}

.accordion-item{
    min-width: 1110px;
}

.accordion-header {
    color: white;
}

.accordion-item {
    color: white;
}

div.container_offerte {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; 
}

h1.Offerte_success {
    color: #212529;
    margin-top: 250px;
    margin-bottom: 200px;
}

div.container_signup {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 85vh; 
}

.signup_success {
    color: #212529;
    margin: 10px 0; 
    text-decoration: none;
}

a.button{
    background-color: #212529;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

h1.admin_dashboard_text {
    color: #212529;
    margin-top: 200px;
    display: flex;
    justify-content: center;
}

div.button_admin_container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    flex-wrap: wrap; 
    padding: 20px;
    margin-top: 70px;
    margin-bottom: 200px;
}

button.producten_insert {
    background-color: #212529;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button.offerte_search{
    background-color: #212529;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button.producten_update {
    background-color: #212529;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button.producten_list {
    background-color: #212529;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
